<div class="col-md-4">
    <div class="single-sidebar">
        <h2 class="sidebar-title">Search Products</h2>
        <form action="#">
            <input type="text" placeholder="Search products...">
            <input type="submit" value="Search">
        </form>
    </div>
    <div class="single-sidebar">
        <h2 class="sidebar-title">Recent Products</h2>
        {{#each recentProducts }}
        <div class="thubmnail-recent">
            <img src="{{product.mainImage}}" class="recent-thumb" alt="">
            <h2><a href="/single-product/{{product._id}}">{{name}}</a></h2>
            <div class="product-sidebar-price">
                <ins>{{../currencySymbol}}{{discount product.price product.discount}}</ins>
                <del>{{../currencySymbol}}{{product.price}}</del>
            </div>
        </div>
        {{/each}}
    </div>
</div>