<div class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="user-menu">
                    <ul>
                        <li><a href="#"><i class="fa fa-user"></i> My Account</a></li>
                        <li><a href="#"><i class="fa fa-heart"></i> Wishlist</a></li>
                        <li><a href="/cart"><i class="fa fa-user"></i> My Cart</a></li>
                        <li><a href="/checkout"><i class="fa fa-user"></i> Checkout</a></li>

                        {{#if isLogin}}
                        <li><a href="/auth/logout"><i class="fa fa-user"></i> Logout</a></li>
                        {{/if}}
                        {{#if isBuyer}}
                        <li class="dropdown dropdown-small">
                            <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle messages-dropdown"
                                href="#"><span class="key"></span><i class="far fa-comment-dots"></i>
                                <span class="messages-notification-alert" {{#if unseenMsgs}}
                                    style="display: inline-block;" {{/if}}>
                                    <i class="fas fa-circle"></i>
                                </span>
                            </a>
                            <ul class="dropdown-menu chat-box">
                                {{#each latestTextedUsers}}
                                <li style="display: block; padding:10px" class="latest-texted-user-list">
                                    <a href="/chat/{{userDetails._id}}" data-texted="{{userDetails._id}}">
                                        <img src="{{userDetails.image}}" alt=""
                                            style="width: 35px; height:35px; border-radius:50%">
                                        <span>{{userDetails.fullName}}</span>
                                        <p class="list-msg">{{msg}}</p>
                                        <small class="list-date" style="color: gray;">{{date}}</small>
                                        <span class="text-sm text-danger dot-chat-list">
                                            {{#each ../unseenMsgs}}
                                            {{#isEqual  _id ../userDetails._id }}
                                            {{count}}
                                            {{/isEqual}}
                                            {{/each}}
                                        </span>
                                    </a>
                                </li>
                                {{/each}}
                            </ul>
                            {{/if}}
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <div class="header-right">
                    <ul class="list-unstyled list-inline">
                        <li class="dropdown dropdown-small">
                            <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#"><span
                                    class="key">currency :</span><span class="value">USD </span><b
                                    class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">USD</a></li>
                                <li><a href="#">INR</a></li>
                                <li><a href="#">GBP</a></li>
                            </ul>
                        </li>

                        <li class="dropdown dropdown-small">
                            <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#"><span
                                    class="key">language :</span><span class="value">English </span><b
                                    class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">English</a></li>
                                <li><a href="#">French</a></li>
                                <li><a href="#">German</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End header area -->

<div class="site-branding-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="logo">
                    <h1><a href="/"><img src=""></a></h1>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="shopping-item">
                    <a href="/cart">Cart - <span class="cart-amunt">${{totalPrice}}</span> <i
                            class="fa fa-shopping-cart"></i>
                        <span class="product-count">{{totalQty}}</span></a>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End site branding area -->

<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/shop">Shop page</a></li>
                    <li><a href="/single-product">Single product</a></li>
                    <li><a href="/cart">Cart</a></li>
                    <li><a href="/checkout">Checkout</a></li>
                    <li><a href="#">Category</a></li>
                    <li><a href="#">Others</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</div> <!-- End mainmenu area -->