<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Shop</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            {{>matjri/aside}}
            <div class="col-md-8">
                <div class="product-content-right">
                    <div class="product-breadcroumb">
                        <a href="">Home</a>
                        <a href="">Category Name</a>
                        <a href="">Sony Smart TV - 2015</a>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="product-images">
                                <div class="product-main-img">
                                    <img src="{{product.product.mainImage}}" alt="">
                                </div>

                                <div class="product-gallery">
                                    {{#each product.product.gallary}}
                                    <img src="{{this}}" alt="">
                                    {{/each}}
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="product-inner">
                                <h2 class="product-name">{{product.name}}</h2>
                                <div class="product-inner-price">
                                    <ins>{{currencySymbol}}{{discount product.product.price product.product.discount}}</ins>
                                    <del>{{currencySymbol}}{{product.product.price}}</del>
                                </div>

                                <form action="" class="cart">
                                    <div class="quantity">
                                        <input type="number" size="4" class="input-text qty text" title="Qty" value="1"
                                            name="quantity" min="1" step="1">
                                    </div>
                                    <button class="" type="submit">Add to cart</button>
                                </form>

                                <div class="product-inner-category">
                                    <p>Category: <a href="">{{category.name}}</a>. Tags:
                                        {{#each tags}}
                                        <a href="/tags/{{_id}}">{{name}}</a>
                                        {{/each}}
                                    </p>
                                </div>
                                <div class="review-container">
                                    <div class="stars-outer">
                                        <div class="stars-inner"
                                            style="width: {{getRatingWidth product.product.rateAverage }};">
                                        </div>
                                    </div>
                                    {{!-- reviews-details --}}
                                    <div class="reviews-details">
                                        {{!-- reviews-container --}}
                                        <div class="reviews-container">
                                            <h2>Reviews</h2>
                                            <div class="review">
                                                <span class="icon-container">5 <i class="fas fa-star"></i></span>
                                                <div class="progress">
                                                    <div class="progress-done"
                                                        style="width:{{rateProgress RateDetails.fiveRate product.product.rateCount}}">
                                                    </div>
                                                </div>
                                                <span
                                                    class="percent">{{rateProgress RateDetails.fiveRate product.product.rateCount}}</span>
                                            </div>
                                            <div class="review">
                                                <span class="icon-container">4 <i class="fas fa-star"></i></span>
                                                <div class="progress">
                                                    <div class="progress-done"
                                                        style="width:{{rateProgress RateDetails.fourRate product.product.rateCount}}">
                                                    </div>
                                                </div>
                                                <span
                                                    class="percent">{{rateProgress RateDetails.fourRate product.product.rateCount}}</span>
                                            </div>
                                            <div class="review">
                                                <span class="icon-container">3 <i class="fas fa-star"></i></span>
                                                <div class="progress">
                                                    <div class="progress-done"
                                                        style="width:{{rateProgress RateDetails.threeRate product.product.rateCount}}">
                                                    </div>
                                                </div>
                                                <span
                                                    class="percent">{{rateProgress RateDetails.threeRate product.product.rateCount}}</span>
                                            </div>
                                            <div class="review">
                                                <span class="icon-container">2 <i class="fas fa-star"></i></span>
                                                <div class="progress">
                                                    <div class="progress-done"
                                                        style="width:{{rateProgress RateDetails.twoRate product.product.rateCount}}">
                                                    </div>
                                                </div>
                                                <span
                                                    class="percent">{{rateProgress RateDetails.twoRate product.product.rateCount}}</span>
                                            </div>
                                            <div class="review">
                                                <span class="icon-container">1 <i class="fas fa-star"></i></span>
                                                <div class="progress">
                                                    <div class="progress-done"
                                                        style="width:{{rateProgress RateDetails.oneRate product.product.rateCount}}">
                                                    </div>
                                                </div>
                                                <span
                                                    class="percent">{{rateProgress RateDetails.oneRate product.product.rateCount}}</span>
                                            </div>
                                        </div>
                                        {{!-- /reviews-container --}}
                                    </div>
                                    {{!-- /reviews-details --}}
                                    <i class="fas fa-angle-down"></i>
                                </div>
                                <div role="tabpanel">
                                    <ul class="product-tab" role="tablist">
                                        <li role="presentation" class="active"><a href="#home" aria-controls="home"
                                                role="tab" data-toggle="tab">Description</a></li>
                                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab"
                                                data-toggle="tab">Reviews</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade in active" id="home">
                                            <h2>Product Description</h2>
                                            {{product.description}}
                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="profile">
                                            <h2>Submit A Review</h2>
                                            <hr>
                                            {{#if isOpenReview}}
                                            {{!-- submit-review --}}
                                            <div class="submit-review">

                                                <div>
                                                    <div id="full-stars-example-two">
                                                        <div class="rating-group">
                                                            <input disabled checked
                                                                class="rating__input rating__input--none" name="rating3"
                                                                id="rating3-none" value="0" type="radio">
                                                            <label aria-label="1 star" class="rating__label"
                                                                for="rating3-1"><i
                                                                    class="rating__icon rating__icon--star fa fa-star"></i></label>
                                                            <input class="rating__input" name="rating3" id="rating3-1"
                                                                value="1" type="radio">
                                                            <label aria-label="2 stars" class="rating__label"
                                                                for="rating3-2"><i
                                                                    class="rating__icon rating__icon--star fa fa-star"></i></label>
                                                            <input class="rating__input" name="rating3" id="rating3-2"
                                                                value="2" type="radio">
                                                            <label aria-label="3 stars" class="rating__label"
                                                                for="rating3-3"><i
                                                                    class="rating__icon rating__icon--star fa fa-star"></i></label>
                                                            <input class="rating__input" name="rating3" id="rating3-3"
                                                                value="3" type="radio">
                                                            <label aria-label="4 stars" class="rating__label"
                                                                for="rating3-4"><i
                                                                    class="rating__icon rating__icon--star fa fa-star"></i></label>
                                                            <input class="rating__input" name="rating3" id="rating3-4"
                                                                value="4" type="radio">
                                                            <label aria-label="5 stars" class="rating__label"
                                                                for="rating3-5"><i
                                                                    class="rating__icon rating__icon--star fa fa-star"></i></label>
                                                            <input class="rating__input" name="rating3" id="rating3-5"
                                                                value="5" type="radio">
                                                        </div>
                                                    </div>
                                                </div>
                                                <p><label for="review">Your review</label> <textarea name="review"
                                                        id="review" cols="30" rows="10"></textarea></p>
                                                <p><input type="submit" value="Submit" name="rateBtn" id="rateBtn"></p>
                                            </div>
                                            {{!-- /submit-review --}}
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <input type="hidden" id="product_id" value="{{product.product._id}}">
                    </div>


                    <div class="related-products-wrapper">
                        <h2 class="related-products-title">Related Products</h2>
                        <div class="related-products-carousel">
                            {{#each relatedProducts}}
                            {{!-- single-product --}}
                            <div class="single-product">
                                <div class="product-f-image">
                                    <img src="{{product.mainImage}}" alt="">
                                    <div class="product-hover">
                                        <a href="/add-to-cart/{{product._id}}"
                                            class="add_to_cart_button add-to-cart-link"><i
                                                class="fa fa-shopping-cart"></i> Add
                                            to cart</a>
                                        <a href="/single-product/{{product._id}}" class="view-details-link"><i
                                                class="fa fa-link"></i>
                                            See
                                            details</a>
                                    </div>
                                </div>
                                <h2><a href="/single-product/{{product._id}}">{{name}}</a></h2>

                                <div class="product-carousel-price">
                                    <ins>{{../currencySymbol}}{{discount product.price product.discount}}</ins>
                                    <del>{{../currencySymbol}}{{product.price}}</del>
                                </div>
                            </div>
                            {{!-- /single-product --}}
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>