<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Shop</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            {{>matjri/aside}}
            <div class="col-md-8">
                <div class="product-content-right">
                    <div class="product-breadcroumb">
                        <a href="">Home</a>
                        <a href="">Category Name</a>
                        <a href="">Sony Smart TV - 2015</a>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="product-images">
                                <div class="product-main-img">
                                    <img src="/products/{{product.mainImage}}" alt="">
                                </div>

                                <div class="product-gallery">
                                    {{#each product.productGallary}}
                                    <img src="/products/{{this}}" alt="">
                                    {{/each}}
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="product-inner">
                                <h2 class="product-name">{{product.productName}}</h2>
                                <div class="product-inner-price">
                                    <ins>{{discount product.productPrice product.discount}}</ins>
                                    <del>${{product.productPrice}}</del>
                                </div>

                                <form action="" class="cart">
                                    <div class="quantity">
                                        <input type="number" size="4" class="input-text qty text" title="Qty" value="1"
                                            name="quantity" min="1" step="1">
                                    </div>
                                    <button class="add_to_cart_button" type="submit">Add to cart</button>
                                </form>

                                <div class="product-inner-category">
                                    <p>Category: <a href="">{{product.category.categoryName}}</a>. Tags:
                                        {{#each product.tags}}
                                        <a href="/tags/{{_id}}">{{name}}</a>
                                        {{/each}}
                                    </p>
                                </div>
                                <div class="mb-5">
                                    <div class="stars-outer">
                                        <div class="stars-inner"
                                            style="width: {{getRatingWidth product.rateAverage }};">
                                        </div>
                                    </div>
                                    <div class="number-rating">

                                    </div>
                                </div>
                                <div role="tabpanel">
                                    <ul class="product-tab" role="tablist">
                                        <li role="presentation" class="active"><a href="#home" aria-controls="home"
                                                role="tab" data-toggle="tab">Description</a></li>
                                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab"
                                                data-toggle="tab">Reviews</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade in active" id="home">
                                            <h2>Product Description</h2>
                                            {{product.productDescription}}
                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="profile">
                                            <h2>Reviews</h2>

                                            {{!-- reviews-details --}}
                                            <div class="reviews-details">
                                                <div>One Star: <span><b>{{RateDetails.oneRate}}</b></span></div>
                                                <div>Two Star: <span><b>{{RateDetails.twoRate}}</b></span></div>
                                                <div>Three Star: <span><b>{{RateDetails.threeRate}}</b></span></div>
                                                <div>Four Star: <span><b>{{RateDetails.fourRate}}</b></span></div>
                                                <div>Five Star: <span><b>{{RateDetails.fiveRate}}</b></span></div>
                                            </div>
                                            {{!-- /reviews-details --}}
                                            <hr>
                                            {{#if isOpenReview}}
                                            {{!-- submit-review --}}
                                            <div class="submit-review">

                                                <div>
                                                    <div id="full-stars-example-two">
                                                        <div class="rating-group">
                                                            <input disabled checked
                                                                class="rating__input rating__input--none" name="rating3"
                                                                id="rating3-none" value="0" type="radio">
                                                            <label aria-label="1 star" class="rating__label"
                                                                for="rating3-1"><i
                                                                    class="rating__icon rating__icon--star fa fa-star"></i></label>
                                                            <input class="rating__input" name="rating3" id="rating3-1"
                                                                value="1" type="radio">
                                                            <label aria-label="2 stars" class="rating__label"
                                                                for="rating3-2"><i
                                                                    class="rating__icon rating__icon--star fa fa-star"></i></label>
                                                            <input class="rating__input" name="rating3" id="rating3-2"
                                                                value="2" type="radio">
                                                            <label aria-label="3 stars" class="rating__label"
                                                                for="rating3-3"><i
                                                                    class="rating__icon rating__icon--star fa fa-star"></i></label>
                                                            <input class="rating__input" name="rating3" id="rating3-3"
                                                                value="3" type="radio">
                                                            <label aria-label="4 stars" class="rating__label"
                                                                for="rating3-4"><i
                                                                    class="rating__icon rating__icon--star fa fa-star"></i></label>
                                                            <input class="rating__input" name="rating3" id="rating3-4"
                                                                value="4" type="radio">
                                                            <label aria-label="5 stars" class="rating__label"
                                                                for="rating3-5"><i
                                                                    class="rating__icon rating__icon--star fa fa-star"></i></label>
                                                            <input class="rating__input" name="rating3" id="rating3-5"
                                                                value="5" type="radio">
                                                        </div>
                                                    </div>
                                                </div>
                                                <p><label for="review">Your review</label> <textarea name="review"
                                                        id="review" cols="30" rows="10"></textarea></p>
                                                <p><input type="submit" value="Submit" name="rateBtn" id="rateBtn"></p>
                                            </div>
                                            {{!-- /submit-review --}}
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="related-products-wrapper">
                        <h2 class="related-products-title">Related Products</h2>
                        <div class="related-products-carousel">
                            {{#each relatedProducts}}
                            {{!-- single-product --}}
                            <div class="single-product">
                                <div class="product-f-image">
                                    <img src="/products/{{mainImage}}" alt="">
                                    <div class="product-hover">
                                        <a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add
                                            to cart</a>
                                        <a href="/single-product/{{_id}}" class="view-details-link"><i
                                                class="fa fa-link"></i> See
                                            details</a>
                                    </div>
                                </div>
                                <h2><a href="/single-product/{{_id}}">{{productName}}</a></h2>

                                <div class="product-carousel-price">
                                    <ins>${{discount productPrice discount}}</ins> <del>${{productPrice}}</del>
                                </div>
                            </div>
                            {{!-- /single-product --}}
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Feedback Message</h4>
            </div>
            <div class="modal-body">
                <p>Thank For Feedback</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<script>
    const rateBtn = document.getElementById('rateBtn'),
        rate = document.getElementById('rate'),
        review = document.getElementById('review'),
        rateDiv = document.querySelector('.submit-review');

    rateBtn.addEventListener('click', submitRate);


    function submitRate() {
        let rate_value;
        if (document.getElementById('rating3-1').checked) {
            rate_value = document.getElementById('rating3-1').value;
        } else if (document.getElementById('rating3-2').checked) {
            rate_value = document.getElementById('rating3-2').value;
        } else if (document.getElementById('rating3-3').checked) {
            rate_value = document.getElementById('rating3-3').value;
        } else if (document.getElementById('rating3-4').checked) {
            rate_value = document.getElementById('rating3-4').value;
        } else if (document.getElementById('rating3-5').checked) {
            rate_value = document.getElementById('rating3-5').value;
        }
        const data = {
            rate: +rate_value,
            review: review.value
        }
        fetch('/rate/{{product._id}}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
            .then((res) => res.json())
            .then((data) => {
                $('.submit-review').hide();
                $('#myModal').modal('show');
            })
            .catch((error) => console.log(error))
    }

</script>