
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>User</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">General Form</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">{{formTitle}}</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form 
              {{#if isEdit}} 
              action="/admin-panel/user/edit?_method=PUT"
              {{/if}}
              method="post">
                <div class="card-body">   
                  <div class="form-group">
                    <label for="fullName">Full Name</label>
                    <input 
                    type="text" 
                    class="form-control" 
                    name="fullName" 
                    id="fullName" 
                    placeholder="Enter Full Name" 
                    value="{{item.fullName}}"
                    >
                    <small style="color: red">{{errorObject.fullName}}</small>
                  </div>
                  {{!-- /form-group --}}

                  <div class="form-group">
                    <label for="email">Email</label>
                    <input 
                    type="text" 
                    class="form-control" 
                    name="email" 
                    id="email" 
                    placeholder="email@example.com"
                    value="{{item.email}}"
                    {{#if isNormalRegister}}

                    {{else}}
                      disabled
                    {{/if}}
                    >
                    <small style="color: red">{{errorObject.email}}</small>
                  </div>
                  {{!-- /form-group --}}
                  

                  {{#if isNormalRegister}}
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input 
                    type="password" 
                    class="form-control" 
                    name="password" 
                    id="password" 
                    placeholder="Enter Password">
                    <small style="color: red">{{errorObject.password}}</small>
                  </div>
                  {{!-- /form-group --}}


                   <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <input 
                    type="password" 
                    class="form-control" 
                    name="confirmPassword"
                    id="confirmPassword" 
                    placeholder="Confirm Password">
                    <small style="color: red">{{errorObject.confirmPassword}}</small>
                  </div>
                  {{!-- /form-group --}}
                  {{/if}}

                  <div class="form-group">
                    <label for="position">Position</label>
                    <select name="position" id="position" class="form-control">
                      
                      {{#if item}}
                        {{#each arrayType}}
                          {{#isEqual ../item.position position}}
                          <option value="{{position}}" selected>{{position}}</option>
                          {{else}}
                          <option value="{{position}}">{{position}}</option>
                          {{/isEqual}}
                        {{/each}}
                      {{else}}
                        {{#each arrayType}}
                          <option value="{{position}}">{{position}}</option>
                        {{/each}}
                      {{/if}}
                    </select>
                    <small style="color: red">{{errorObject.position}}</small>
                  </div>
                  {{!-- /form-group --}}
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">{{formTitle}}</button>
                </div>

                <input type="hidden" name="itemId" value="{{item._id}}">
              </form>
            </div>
            <!-- /.card -->


          </div>
          <!--/.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  {{>admin/scripts}}

