<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Product</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">General Form</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">{{formTitle}}</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form {{#if isEdit}} action="/admin-panel/product/edit?_method=PUT" {{/if}} method="post"
              enctype="multipart/form-data">
              <div class="card-body">

                <div class="form-group">
                  <label for="productName">Name (English)</label>
                  <input type="text" class="form-control" name="name_en" id="productName"
                    placeholder="Enter Product Name" value="{{item.name_en}}">
                  <small style="color: red">{{errorObject.name_en}}</small>
                </div>
                {{!-- /form-group --}}

                <div class="form-group">
                  <label for="productName">Name (Arabic)</label>
                  <input type="text" class="form-control" name="name_ar" id="productName"
                    placeholder="Enter Product Name" value="{{item.name_ar}}">
                  <small style="color: red">{{errorObject.name_ar}}</small>
                </div>
                {{!-- /form-group --}}

                <div class="form-group">
                  <label for="productPrice">Price</label>
                  <input type="text" class="form-control" name="price" id="productPrice"
                    placeholder="Enter Price In Dollar" value="{{item.price}}">
                  <small style="color: red">{{errorObject.price}}</small>
                </div>
                {{!-- /form-group --}}


                <div class="form-group">
                  <label for="discount">disount</label>
                  <input type="text" class="form-control" name="discount" id="discount" placeholder="%"
                    value="{{item.discount}}">
                  <small style="color: red">{{errorObject.discount}}</small>
                </div>
                {{!-- /form-group --}}

                <div class="form-group">
                  <label for="productQty">Quntity</label>
                  <input type="text" class="form-control" name="qty" id="productQty" placeholder="Enter Product Qunitiy"
                    value="{{item.qty}}">
                  <small style="color: red">{{errorObject.qty}}</small>
                </div>
                {{!-- /form-group --}}

                <div class="form-group">
                  <label for="productDescription">Description</label>
                  <textarea name="description_en" id="productDescription"
                    class="form-control">{{item.description_en}}</textarea>
                  <small style="color: red">{{errorObject.description_en}}</small>
                </div>
                {{!-- /form-group --}}

                <div class="form-group">
                  <label for="productDescription">Description (Arabic)</label>
                  <textarea name="description_ar" id="productDescription"
                    class="form-control">{{item.description_ar}}</textarea>
                  <small style="color: red">{{errorObject.description_ar}}</small>
                </div>
                {{!-- /form-group --}}

                <div class="form-group">
                  <label for="category">Select Category</label>
                  <select name="category" id="category" class="form-control">
                    <option value="" selected>uncategorized</option>
                    {{#if item}}
                    {{#each arrayType}}
                    {{#isEqual ../item.category category}}
                    <option value="{{category}}" selected>{{name}}</option>
                    {{else}}
                    <option value="{{category}}">{{name}}</option>
                    {{/isEqual}}
                    {{/each}}
                    {{else}}
                    {{#each arrayType}}
                    <option value="{{category}}">{{name}}</option>
                    {{/each}}
                    {{/if}}
                  </select>
                  <small style="color: red">{{errorObject.category}}</small>
                </div>
                {{!-- /form-group --}}

                <div class="form-group">
                  <label for="mainImage">Main Image</label>
                  <div class="input-group">
                    <div class="custom-file">
                      <input type="file" name="mainImage" class="form-control" id="mainImage">
                    </div>
                  </div>
                </div>
                {{!-- /form-group --}}

                <div class="form-group">
                  <label for="exampleInputFile">Gallary</label>
                  <div class="input-group">
                    <div class="custom-file">
                      <input type="file" name="gallary" class="form-control" id="exampleInputFile" multiple>
                      {{!-- <label class="custom-file-label" for="exampleInputFile">Choose Image</label> --}}
                    </div>
                    {{!-- <div class="input-group-append">
                        <span class="input-group-text" id="">Upload</span>
                      </div> --}}
                  </div>
                </div>
                {{!-- /form-group --}}


                <div class="form-group">
                  <label for="category">Select Tags</label>
                  <div>
                    {{#if item}}
                    {{#each tags}}
                    {{#filterTags ../item.tags tag}}
                    <label class="mr-3">
                      <input type="checkbox" name="tags[]" value="{{tag}}" checked>
                      {{name}}
                    </label>
                    {{else}}
                    <label class="mr-3">
                      <input type="checkbox" name="tags[]" value="{{tag}}">
                      {{name}}
                    </label>
                    {{/filterTags}}
                    {{/each}}
                    {{else}}
                    {{#each tags}}
                    <label class="mr-3">
                      <input type="checkbox" name="tags[]" value="{{tag}}">
                      {{name}}
                    </label>
                    {{/each}}
                    {{/if}}
                  </div>
                </div>
                {{!-- /form-group --}}

              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                <button type="submit" class="btn btn-primary">{{formTitle}}</button>
              </div>

              <input type="hidden" name="itemId" value="{{item.id}}">
            </form>
          </div>
          <!-- /.card -->


        </div>
        <!--/.col -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{{>admin/scripts}}